@import url('https://fonts.google.com/specimen/Manrope');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
--Desaturated-Dark-Blue: hsl(214, 17%, 51%);
--Grayish-Blue: hsl(212, 23%, 69%);
--Light-Grayish-Blue: hsl(210, 46%, 95%);

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--Light-Grayish-Blue);
    font-family: "Manrope",sans-serif;
}

main{
    height: 17.5rem;
    max-width: 46rem;
    max-height: 18rem;;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-areas: "image text";
    /* gap:20px; */
    /* background-color: white; */
    border-radius: 10px;
    
}

.image-section{
    grid-area: image;
}

.main-heading{
    font-size: 24px;
    line-height: 1.75rem;
    color:var(--Very-Dark-Grayish-Blue);
}

.name{
    color:var(--Very-Dark-Grayish-Blue);
    font-weight: bold;
}


.paragraph,.date{
    color: var(--Grayish-Blue);
    
    font-size: 13px;
}

.drawer-image{
    width:17.81rem;
    height: 17.5rem;
    border-radius: 10px 0px 0px 10px;
    
}

.last-text-section{
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.avatar-michelle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.text-section{
    grid-area:text;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
     justify-content: space-evenly;
    padding: 30px;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
   
}

.avatar-section{
    display: flex;
    gap:20px;
}


.share-icon{
    width: 32px;
    height: 32px;
    background: url('./images/icon-share.svg') no-repeat,var(--Light-Grayish-Blue) ;
    background-position: center;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    
}

.share-icon:hover{
    
   background: url('./images/share-icon-white.png') no-repeat ,#6E8098;
   background-position: center;
   display: inline-block;
   width: 32px;
   height: 32px;
   border-radius: 50%;

} 
 
.share-icon:hover #tooltip{
    visibility: visible;
}


#tooltip{
    background-color: #48556A;
    width: 15.5rem;
    height: 4.1875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px;
    padding-top:18px;
    padding-bottom: 18px;
    padding-left: 36px;
    padding-right: 36px;
    border-radius: 10px;
   
    position: relative;
    bottom: 560%; /* Position above the share icon */
    left: 50%;
    transform: translateX(-50%);
     z-index: 1; 
    transition: opacity 0.3s;
    /* display: none; */
   visibility: hidden;    
   
}


.share-tooltip{
    color: #9DAEC2;
    letter-spacing: 5px;
}

.down-arrow{
    position: absolute;
    top: 100%; /* Position the arrow at the bottom of the tooltip */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #48556A;
}

.mobile-footer{
    display: none;
}

@media all and (max-width:820px) {
   body{
    
    display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 10px;
   }

    
    main{
        display: grid;
        grid-template-columns: repeat(1,auto);
        grid-template-areas: "image-area"
        "text-area";
        height: 32rem;
        width:20.43rem;
        margin-bottom: 12rem;

    }
    .image-section{
        grid-area: image-area;
    }
    .text-section{
        grid-area: text-area ;
        
    }
    .drawer-image{
        width:20.43rem;
        height: 12.5rem;
        border-radius: 10px 10px 0px 0px;
    }
    .main-heading{
        font-size: 16px;
        color: var(--Very-Dark-Grayish-Blue);
        line-height: 1.5rem;
        font-weight: 500;
    }

    .text-section{
        gap:10px;
        border-radius: 0px 0px 10px 10px;
    }

    #tooltip{
        display: none;
    }

 
    
    #mobile-footer{
   
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #48556A;
        padding-top:22px;
        padding-bottom: 15px;
        padding-left: 32px;
        padding-right: 32px;
       
                 
    }

    #mobile-footer .icons{
        display: flex;
        gap: 16px;
        align-items: center;
    }

    #mobile-footer .share-icon-mobile{
        background: url('./images/share-icon-white.png') no-repeat ,#6E8098;
        background-position: center;
        display: inline-block;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    /* .last-text-section{
        display: none;
    } */



    
}


